<% if(success && success.length){ %>
<div class="alert alert-success alert-dismissible fade show  col-6 offset-3 mt-3"  style="width: 50vw;" role="alert">
  <p style="margin: 10px;" ><%= success %></p>
  <button
  style="margin: 10px;"
  type="button"
  class="btn-close"
  data-bs-dismiss="alert"
  aria-label="Close"
></button>
</div>
<% } %>
<% if(error && error.length){ %>
<div class="alert alert-danger alert-dismissible fade show  col-6 offset-3 mt-3"  style="width: 50vw;" role="alert">
  <p style="margin: 10px;" ><%= error %></p>
  <button
  style="margin: 10px;"
  type="button"
  class="btn-close"
  data-bs-dismiss="alert"
  aria-label="Close"
></button>
</div>
<% } %>
