<style>
  .search-btn{
    color: white;
    background-color: #fe424d;
    border-radius: 25px;
    transition: all 0.3s ease-in-out  ;
    margin-left: 1rem;
  }
  .search-btn:hover{
    color: white;
    background-color: #e7222f;
    border-radius: 10px;
}
.search-inp{
  border-radius: 25px;
  padding: 0 2rem 0 2rem;
  border: 1px solid rgb(145, 133, 133);
}
</style>

<nav class="navbar navbar-expand-sm border-bottom bg-white sticky-top">
  <div class="container-fluid">
    <i class="fa-solid fa-compass fa-xl navbar-brand"></i>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link" aria-current="page" href="/listings">Explore</a>
      </div>
      <div class="navbar-nav ms-auto" >
        <form class="d-flex" role="search" action="/listings/search" method="POST">
          <input
            name = "search"
            class="form-control me-2 search-inp "
            type="search"
            placeholder="Search Destination"
          />
          <button class="btn search-btn" type="submit"><i class="fa-solid fa-magnifying-glass fa-shake" style="color: #ffffff;"></i></button>
        </form>
      </div>
      <div class="navbar-nav ms-auto">
        <a class="nav-link" href="/listings/new">Add New Listing</a>
        <% if (!currUser) { %>
        <a class="nav-link" aria-current="page" href="/login"><b>Log in</b></a>
        <a class="nav-link" href="/signup"> <b>Sign Up</b></a>
        <% } else { %>
        <a class="nav-link" href="/logout"><b>Log Out </b></a>
        <% } %>
      </div>
    </div>
  </div>
</nav>
